<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<% include ../partials/cssLinks.ejs %>
	<link rel="stylesheet" type="" href="/css/insights.css">
</head>
<body>

	<% include ../partials/navbar.ejs %>

	<br><br><br><br>

	<div class="container">

		<h2>Insights</h2>

		<p>Find average engagement score for a particular publisher:</p><br>
		<input type="text" placeholder="Publisher Name" id="publisher"></input>
		<button onClick="pubInfoClick()">Go</button>
		<p id="pubInfoText"></p>


		<p>Find average engagement score for a particular author:</p><br>
		<input type="text" placeholder="Author Name" id="author"></input>
		<button onClick="authorInfoClick()">Go</button>
		<p id="authorInfoText"></p>

		<p>
			Some quick statistics on the Emphasis-DB Database!
		</p><br>

		<hr>

		<p>
			<div class="insightCategory">
			<div class="categoryTitle">ALL:</div><br>
			Quantity: <%=insights.all.quantity%><br>
			Average engagement score: <div class="engagementScoreInsight" >
				<%=Math.round(insights.all.avgEng)%>
			</div><br>
		</div>
			<div class="insightCategory">
			<div class="categoryTitle">News:</div><br>
			Quantity: <%=insights.news.quantity%><br>
			Average engagement score: <div class="engagementScoreInsight" >
				<%=Math.round(insights.news.avgEng)%>
			</div><br>
		</div>
			<div class="insightCategory">
			<div class="categoryTitle">Opinion:</div><br>
			Quantity: <%=insights.opinion.quantity%><br>
			Average engagement score: <div class="engagementScoreInsight" >
				<%=Math.round(insights.opinion.avgEng)%>
			</div><br>
		</div>
			<div class="insightCategory">
			<div class="categoryTitle">Fiction:</div><br>
			Quantity: <%=insights.fiction.quantity%><br>
			Average engagement score: <div class="engagementScoreInsight" >
				<%=Math.round(insights.fiction.avgEng)%>
			</div><br>
		</div>
			<div class="insightCategory">
			<div class="categoryTitle">Marketing:</div><br>
			Quantity: <%=insights.marketing.quantity%><br>
			Average engagement score: <div class="engagementScoreInsight" >
				<%=Math.round(insights.marketing.avgEng)%>
			</div><br>
		</div>
			<div class="insightCategory">
			<div class="categoryTitle">Business:</div><br>
			Quantity: <%=insights.business.quantity%><br>
			Average engagement score: <div class="engagementScoreInsight" >
				<%=Math.round(insights.business.avgEng)%>
			</div>
		</div>
			<div class="insightCategory">
			<div class="categoryTitle">Legal:</div><br>
			Quantity: <%=insights.legal.quantity%><br>
			Average engagement score: <div class="engagementScoreInsight" >
				<%=Math.round(insights.legal.avgEng)%>
			</div><br>
		</div>
			<div class="insightCategory">
			<div class="categoryTitle">Technical:</div><br>
			Quantity: <%=insights.technical.quantity%><br>
			Average engagement score: <div class="engagementScoreInsight" >
				<%=Math.round(insights.technical.avgEng)%>
			</div><br>
		</div>
			<div class="insightCategory">
			<div class="categoryTitle">Academic:</div><br>
			Quantity: <%=insights.academic.quantity%><br>
			Average engagement score: <div class="engagementScoreInsight" >
				<%=Math.round(insights.academic.avgEng)%>
			</div><br>
		</div>
			<div class="insightCategory">
			<div class="categoryTitle">Oratory:</div><br>
			Quantity: <%=insights.oratory.quantity%><br>
			Average engagement score: <div class="engagementScoreInsight" >
				<%=Math.round(insights.oratory.avgEng)%></div><br>
			</div>
			<div class="insightCategory">
			<div class="categoryTitle">Other:</div><br>
			Quantity: <%=insights.other.quantity%><br>
			Average engagement score: <div class="engagementScoreInsight" >
				<%=Math.round(insights.other.avgEng)%>
			</div><br>
		</div>
			<br>
		</p>

	</div>

	<% include ../partials/jsLinks.ejs %>

	<script type="text/javascript" src="/js/insights.js"></script>

</body>
</html>
