<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
		<% include ../partials/cssLinks.ejs %>
		<link rel="stylesheet" type="" href="/css/show.css">
	</head>
	<body>

    <% include ../partials/navbar.ejs %>

    <br><br><br><br>
		<div class="container">
    <div class="container">
		<h2 class="showUser">Created By: <%=username%><%	if (session.curuserid === entry.userId) {	%> (your entry) <%	}	%></h2>
		<a href="<%=entry.link%>"><h1 class="showTitle"><%=entry.title%></h1></a>
		<h2 class="showAuthor"><%=entry.author%></h2>
		<h2 class="showInfo"><%=entry.publisher%> | <%=entry.publicationYear%> | <%=entry.contentType%></h2>
		</div>
		<div class="container col-md-12 engage-box">
			<div class="row">
			<div class="col-md-4">
				<br>
				<p class="showScore"><%=entry.engagementScore%></p>
				<p class="showEngage">ENGAGEMENT SCORE</p>
			</div>
			<div class="col-md-8 color-list ">
				<br><br>
					<p class="color-data dYellow"><%=entry.data.yellow.percentage%>%</p><p class="color-data dBlue"><%=entry.data.blue.percentage%>%</p><p class="color-data dGreen"><%=entry.data.green.percentage%>%</p><p class="color-data dLight-Green"><%=entry.data.lightGreen.percentage%>%</p><p class="color-data dFaded-Blue"><%=entry.data.fadedBlue.percentage%>%</p>
			</div>
		</div>
				<h2 class="entryOptions"><a href="/entries/<%=entry._id%>/compare">FIND SIMILAR ENTRIES</a></h2>
		<%	if (session.curuserid === entry.userId || session.usertype === 'admin') {	%>
				<h2 class="entryOptions"><a href="/entries/<%=entry._id%>/edit">EDIT THIS ENTRY</a></h2>
				<h2 class="entryOptions"><a href="/entries/<%=entry._id%>/delete">DELETE THIS ENTRY</a></h2>
		<%	} %>
		<br>
		</div>
		<div class="buttonBox">
			<div class="container">
				<div class="row">
					<button class="dataButton hButt" id="hoverButton" type="button">HOVER VIEW</button>
					<button class="dataButton hButt" id="signButton" type="button">SHOW SIGNS</button>
					<button class="dataButton aButt" id="allColorButton" type="button">ALL COLOR VIEW</button>
				</div>
				<br />
				<div class="row">
					<button class="dataButton yButt" id="yellowButton" type="button">YELLOW ONLY</button>
					<button class="dataButton gButt" id="greenButton" type="button">GREEN ONLY</button>
					<button class="dataButton bButt" id="blueButton" type="button">BLUE ONLY</button>
				<div>
			</div>
		</div>
		<p class="text">

    <pre id="preDis">

				<% for (let i = 0; i < text.length; i++) { %><% if (text[i].color === "lightGreen") { %>
					<span color="twoGreens" class="sentence">
						<span color="twoGreens" class="lightGreen innerSentence">
							<%-text[i].text%>
						</span>
						<span color="twoGreens" class="green innerSentence">
							<%-text[i + 1].text%>
						</span><% i++ %>
					</span>
				<% } else if (text[i].color === "fadedBlue") { %>
					<span color="blue" class="sentence">
						<span color="blue" class="fadedBlue innerSentence">
							<%-text[i].text%>
						</span>
						<span color="blue" class="lightBlue innerSentence">
							<%-text[i + 1].text%>
						</span>
						<span color="blue" class="darkBlue innerSentence">
							<%-text[i + 2].text%>
						</span>
						<% i += 2 %>
					</span>
				<% } else if (text[i].color === "lightBlue") { %>
					<span color="blue" class="sentence">
						<span color="blue" class="lightBlue innerSentence">
							<%-text[i].text%>
						</span>
						<span color="blue" class="darkBlue innerSentence">
							<%-text[i + 2].text%>
						</span>
						<% i++ %>
					</span>
				<% } else { %>
					<span color="<%=text[i].color%>" class="sentence <%=text[i].color%> innerSentence">
						<%-text[i].text%>
					</span>
				<% } %>
			<% } %>

    </pre>
		</p>

	</div>


    <% include ../partials/jsLinks.ejs %>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.js"></script>
	<script src="/jQuery/hiLight.js"></script>
	</body>
</html>
